@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #FCFBFA;
    /* background-color: #ecf1fd; */
    /* #fe013e */
}
.navi{
    display: flex;
    justify-content: center;
}
.navi a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    padding: 20px;
  
    
}
.ahov{
    transition: color 0.5s ,font-size 0.5s;
}
.ahov:hover{
    font-size: 20px;
    color: #ff013e;
    text-shadow: 5px 5px 15px rgba(255,1,62,0.2);
}








/* ignoore this for now */


/* .hellot{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 120px;
  
    font-size: 0.9rem;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
transition:  height 0.5s,width 0.5s,left 0.5s;
z-index: 1;
}

.hellot:hover{
    height: 150px;
    width: 150px;
    left: 40%;
} */


/* ignore part ends */



.textplacement{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.bigtex{
    
    display: flex;
  align-items: center;
justify-content: center;

}

#red{
    color: #ff013e;  
}


.bigtexcolor{
    color: rgb(59, 59, 59);
}

.bigtex p{
    font-family: 'Radio Canada', sans-serif;
    padding: 10px;
    font-size: 40px;
}

.smoltex P{
    font-size: 13px;

}

#battan{
    color: white;
    background-color:#ff013e;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 180%;
    left:50%;                                                 cursor:pointer;                   
    box-shadow: 4px 4px 10px
    rgba(255,1,62,0.2);    
                                                                                       
}



.quickinfo{
    background-color:#F3F5FA;
    height: 200px;
    width: 45vw;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 115%;
   left: 50%;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: height 0.5s,width 0.5s;
    cursor: pointer;
  
}

.quickinfo:hover{
    height: 220px;
    width: 55vw;
}
.ytimg_1{
position: absolute;
transform: translate(-50%,-50%);
top: 35%;
left: 35%;
}

#yuthuber{
height: 60px;
}

.bigtextyt{
position: absolute;
transform: translate(-50%,-50%);
top: 40%;
left: 57%;
}
.shorth7{
    display:none;
}

.yttexbox1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 30%;
}

.yttexbox2{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 70%;
}


.visibleh7{
    display:block;
 }
.bigtextyt p{
    font-size: 20px;
    font-weight: bold;
}


.myspenigtex h2{
    font-family: 'Radio Canada', sans-serif;
}
.myspecialty_1
{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 150%;
    left: 50%;
}
.yttexbox2 p{
    font-size: 30px;
    font-weight: bold;
}

.yttexbox1 p{
    font-size: 30px;
    font-weight: bold;
}























 
@media only screen and (max-width:760px){
    .yttexbox1 p{
    font-size: 18px;
    font-weight: bold;
}
.shorth7{
    display:block;
}
.yttexbox1 p{
    font-size:18px;
    font-weight: bold;
}
.yttexbox2 p{
    font-size:18px;
    font-weight: bold;
}
.bigtextyt p{
    font-size: 22px;
    font-weight: bold;
}
    .quickinfo{
        width: 90vw;
    }
    .yttexbox1{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 70%;
        left: 25%;
        
        
    }
    

    
    .yttexbox2{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 70%;
        left: 70%;
     
    }
    .ytimg_1{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 35%;
        left: 18%;
        }
        
        #yuthuber{
        height: 60px;
        }
        
        .bigtextyt{
            width: 59%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 40%;
        left: 60%;

        }
        .visibleh7{
           display:none;
        }


       
}



